<h1>Create a New Entry</h1>

<%= simple_form_for @entry do |f| %>
  <% @entry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :quantity, label: 'Quanitity' %>
  <%= f.button :submit, 'Create Entry' %>
<% end %>
